html {
    font-size: 10px; /* px quiere decir 'pixels': la base del tamaño de fuente es ahora de 1o pixeles*/
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px lightslategrey;
  }
  h2{
      color: whitesmoke;
      font-size: 30px;
      text-align: center;
  }
  
  p, li {
    color: whitesmoke;
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: lightskyblue;
  }
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
  }
  img {
    display: block;
    margin: 0 auto;
  }