.cabecera {
    color: white;
    border: 1px transparent;
    border-radius: 15px;
    background-color: orange;
    width: 650px;
    margin: 5px;
    padding: 10px;
}

.navega {
    color: black;
    border: 1px transparent;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
    margin: 5px;
    width: 650px;
    padding: 10px;
}
.menu {
    color:white;
    border: 1px transparent;
    border-radius: 15px;
    background-color:seagreen;
    width: 400px;
    height: 300px;
    margin-left: 1px;
    padding: 10px;
    
}

.articulo1 {
    color: white;
    border: 1px transparent;
    border-radius: 15px;
    background-color: lightseagreen;
    margin-right: 220px;
    margin-top: 150px;
    height: 80px;
    padding: 10px;
}

.articulo2 {
    color: white;
    border: 1px transparent;
    border-radius: 15px;
    background-color: lightseagreen;
    margin-left: 210px;
    margin-top: -102px;
    height: 80px;
    padding: 10px;
}

.sitio {
    color:white;
    border: 1px transparent;
    border-radius: 15px;
    background-color: lightblue;
    width: 200px;
    height: 300px;
    margin-left: 450px;
    margin-top: -320px;
    padding: 10px;
}

.pie {
    color: white;
    border: 1px transparent;
    border-radius: 15px;
    background-color: lightseagreen;
    margin: 5px;
    padding: 10px;
    width: 650px;
    
}

body {
    margin: 5% 5%;
}