@charset "utf-8";

body{
    background-color: #D5DBDB;
}
  simples*/
{
    color: blue;  /*universal*/

} */

p {
    color: green;   /*parrafo*/
}

p.class-parr-3{
    color: pink;   /*clase*/
}

p.class-parr-2{
    color: black;   /*clase*/
}

li#e-uno{
    font-size: 25px; /*id*/
}

#e-dos{
    color: black;
    font-size: 40px;
}


div, {
    border: yellow 3px solid;
}
div h2 {
    color: red; 
}
div p{ /*div lipp*/
    color: deeppink;
}

div.div-4 > p {
    color: orange;
}

article.artic + span {
    font-size: 40px;
    color: black;
}

article ~ span {
    font-size: 30px;
    color: turquoise;
}

th[scope] {
    color: yellowgreen;
}
th[scope="row"] {
    color: mediumslateblue;
    background-color: goldenrod;
}

td[class="price"] {
    background-color: darkgrey;
}

td[class~="product"] {
    background-color: yellowgreen;
    text-transform: uppercase;
}