
td {
    border: 1px solid black;
}

.a, .b, .c, .d, .e, .f {
    background-color: rgb(0, 217, 255);
    color: black;
}

.i, .ii, .iii, .iv {
    background-color: yellow;
    color: black;
}

.uno, .dos {
    background-color: green;
    color: black;
}

body {
    text-align: center;
   
}

.hoja-estilo {
    border: 10px double black;
}