/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta por ejemplo header, selection, article, nav */

h1{
    color: white;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.2px;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: overline;
    padding: 20px;
    
}

h1 strong{
    color: seagreen;
    
}
h2, h3, h4, h5, h6{
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
     
     /* font-style: italic; */
}
body {
    font-family: 'Cabin', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    
}
.project{

    /* border-top-color: red;
    border-width: 15px;
    border-style: solid; */

    /* border-top: 10px solid mediumblue;
    border-right: 10px solid gold;
    border-bottom: 10px solid green; 
    border-left: 10px solid orange; */

    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; */
    margin: 10px;
    margin-bottom: 15px;
    /* margin-top: ;
    margin-right: ;
    margin-left: ; */
    padding: 20px;
    background: white;

}

.project-details {
    width: 500px;
    display: flex;
    
}
.event {
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 20px;
    background-color: white;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
}

.project-imageContainer{
    width: 500px;
}


.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    
    
}

.portfolio{
    background: #fafafa;
}

.header{
    background-color: #1b2127;

}
.header a {
    color: white;
    text-decoration: none;

} 
.logo {
    margin: 0;
}
/* selector descendente */
/* body header div nav ol li a */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */