.header {
    background-color: white;
    width: 1000px;
    border: 1px solid black;
    margin: 15px auto;

}
.logo {
    width: 100px;
}

.menu {
    background-color: white;
    width: 1000px;
    border: 1px solid black;
    margin: 15px auto;
    text-decoration: none;
}

.seccion {

    background-color: white;
    width: 500px;
    border: 1px solid black;
    
    padding: 20px;
    margin: 15px auto;
}

.link {
    text-decoration: none;
}
.secct1 {
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    height: 400px;
    margin-left: 15px;
}
.secct2 {
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    height: 400px;
    margin-left: 15px;
}

h4 {
    border: 1px solid black;
}

.secc, .secctc {
    padding: 20px;
}

.foote {
    border: 1px solid black;
    padding: 20px;
    margin: 15px auto;

}