.head {
    background: #3191F7;
    color: white;
}

section {
    display: flex;
    border: 3px solid gray;
    border-radius: 15px;
    
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.datos {
    padding: 5%;
}
.head {
    padding: 5%;
}

h1 {
    font-size: 40px;
}

.a {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}