header {
    margin: 15px;
}
.part1 {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    
}

.datos {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;

}

