body {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px transparent;

}
.tabla {
    
    text-align: center;
    display: flex;
    background-color: lightgray;
    font-size: 55px;
    margin: 0 39.5%;
    
}
h1 {
    color: white;
    background-color: gray;
    font-size: 65px;
    margin: 0 39.5%;
    text-align: end;
    padding: 5px;
}

td {
    width: 100px;

    border: 1px solid black;
    
}

.a, .b, .c, .d, .e {
    background-color: orange;
    color: white;
}

.x {
    font-size: 30px;
}
